body {
  margin: 0;
  padding: 0;
  background-color: rgb(164, 221, 164);
}

.App {
  text-align: center;
}

.headerTitle {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(50px + 2vmin);
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

.headerImage {
  transform: translateX(10vh);
  height: 40vmin;
  pointer-events: none;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  justify-content: center;
  align-items: center;
}

.overlay.visible {
  display: flex;
}

.modal {
  padding: 0px;
}